.carousel .slide {
  width: fit-content;
  flex-shrink: 0;
  min-width: unset;
  background: unset;
}

.slick-dots {
  position: relative;
  bottom: 0px;
  padding-bottom: 5px;
}
.slick-dots li button:before {
  font-size: 11px;
}

.slick-prev,
.slick-next {
  width: auto;
  height: auto;
  z-index: 1;
}
.slick-prev:before,
.slick-next:before,
.slick-prev:after,
.slick-next:after {
  /* content: none !important; */
  font-size: 37px;
  color: #fff;
  line-height: 22px;
}
.slick-prev {
  left: 25px;
}
.slick-next {
  right: 25px;
}
