.logo{
    height: 100%;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0) scale(1);
    position: absolute;
}
.logo_text{
	fill: #fff;
}
/* .logo:hover .logo_text{
    fill: rgb(223, 223, 223);
}
.logo:hover .animated_square{
    transform: scaleY(1);
    transition-duration: 1s;
    transition-delay: 1.1s;
}
.logo:hover .square_yellow {
    transform: scaleY(0);
    transition-duration: 1s;
    transition-delay: .1s;
}

.logo:hover .square_red {
    transform: scaleY(0);
    transition-duration: 1s;
    transition-delay: .2s;
}

.logo:hover .square_black {
    transform: scaleY(0);
    transition-duration: 1s;
    transition-delay: .3s;
} */
